html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title= 'Node JS Mentoring Page'
	body
		h1= 'Enter the details of the city'
		form(action="/api/cities", method="post")
			label='Id:'
				input(type="Number", name="_id")
			br
			label='Name:'
				input(type="text", name="name")
			br
			label='Country:'
				input(type="text", name="country")
			br
			label='Capital?:'
				input(type="checkbox", name="isCapital")
			br
			label='Latitude:'
				input(type="number", name="lat", step="0.0001")
			br
			label='Longitude:'
				input(type="number", name="long", step="0.0001")
			br
			input(type="submit", value="Add")