html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title= 'Node JS Mentoring Page'
	body
		h1= 'Enter your login and password'
		form(action="/auth",method="post")
			label='Username:'
				input(type="text", name="login")
			br
			label='Password:'
				input(type="text", name="password")
			br
			input(type="submit", value="Login")
			br
			br
			a(href="/auth/facebook")= "Facebook"
			br
			a(href="/auth/twitter")= "Twitter"
			br
			a(href="/auth/google")= "Google"